/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
  /* End Global Rules */
.parent{
    background-color: gray;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
  /* End Global Rules */
  /* Start header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 80px;
} 
.header .links {
  position: relative;
} 
.header .links .icons {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icons span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icons span:first-child {
  width: 100%;
}
.header .links .icons span:nth-child(2) {
  width: 60%;
}
.header .links .icons span:last-child {
  width: 100%;
}
  /* End header */